@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4a3434;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #a4a2a2;
}

a {
  color: #132437;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
